@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

:root{
    --primary:rgba(53, 157, 115, 0.8);
    --secondary:rgba(112, 71, 118, 0.8);
}

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: Comic, sans-serif;
    font-size: 5rem;
    font-weight: 400;
    color: white;
    margin: 0%;

}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    width: 100%;
    background: linear-gradient(215deg, var(--primary), var(--secondary)),
                url('/joker.jpeg') center center/cover;
 
}

#title{
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

h1{
    font-weight: 400;
    line-height: 1.130rem;
    

}

p{
    font-size: 1.130rem;
    margin-bottom: 0.5rem;
}



label{
    display: flex;
    align-items: center;
    font-size: 1.130rem;
    margin-bottom: 0.5rem;
}

input, button, select{
    margin: 0%;
    font-family: comic, sans-serif;
    font-size: 1.130rem;
    line-height: 1.130rem;
}

.container{
    width: 100%;
    margin: 3rem auto 0 auto;
    padding: 1.8rem 1;
}